html
  head
    title PR Reviewer
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    .container
      h1 PR Reviewer

      .panel.panel-primary
        .panel-body

          .list-group
            a.list-grou-item
              h4.list-group-item-heading Heading
              p.list-group-item-text Text

            a.list-grou-item
              h4.list-group-item-heading Heading
              p.list-group-item-text Text
