html
  head
    title PR Reviewer
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
  body(ng-app="prApp")

    .container(ng-controller='pullsController')
      h3 PR Reviewer

      .panel.panel-primary(ng-repeat="pull in pulls")
        .panel-heading
          h3.panel-title {{ pull.name }}
        .panel-body
          {{ pull.body }}
        .panel-footer
          | Approved by: <a href="#">Agnostic</a>


    script(src='/js/app.js')
